@media (max-width: 992px)
    .navbar-nav .nav-item_custom
        padding-top: 5px
    .navbar-nav .nav-link
        padding-bottom: 0px
    .navbar-nav .nav-brand
        left: 0px



.navbar-nav
    margin: auto auto
    .navbar-brand
        left: 0px

    .nav-item
        &_custom
            padding-right: 50px
            align-items: center
            display: flex
        &_link
            color: white
            text-decoration: none
        &.dropdown
            padding-right: 50px
.dropdown-menu
    min-width: 0

.dropdown-item
    color: #5B5B66 !important 
    &:hover,
    &:focus 
        color: white !important
        background: linear-gradient(90deg, #F90000 -34.05%, #32495E 139.28%) !important
    &.active,
    &:active 
        color: white !important
        background: linear-gradient(90deg, #F90000 -34.05%, #32495E 139.28%) !important !important

    &.disabled,
    &:disabled 
        color: red !important

    img
        padding-top: 10px
        padding-bottom: 10px

.dropdown-menu-dark
    background: white
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25)
.bg-dark
    background: linear-gradient(90deg, #F90000 -34.05%, #32495E 139.28%)

.navbar-dark .navbar-nav .nav-link
    color: white

.navbar-brand
    padding-left: 50px
